<!DOCTYPE html>
<html>
<head>
  <title>Editar Matrícula</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Editar Matrícula</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/html/matriculas">Matrículas</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fin del Navbar -->

    <h1 class="mt-4">Editar Matrícula</h1>

    <!-- Formulario para editar matrículas -->
    <form class="mt-4" method="POST" action="/api/v1/matriculas/matriculas/<%= matricula.id_matricula %>?_method=PUT">
      <div class="form-group">
        <label for="id_estudiante">Estudiante:</label>
        <select class="form-control" id="id_estudiante" name="id_estudiante">
          <% estudiantes.forEach((estudiante) => { %>
            <option value="<%= estudiante.id_estudiante %>" <% if (estudiante.id_estudiante === matricula.id_estudiante) { %> selected <% } %>><%= estudiante.nom_estudiante %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="id_asignatura">Asignatura:</label>
        <select class="form-control" id="id_asignatura" name="id_asignatura">
          <% asignaturas.forEach((asignatura) => { %>
            <option value="<%= asignatura.id_asignatura %>" <% if (asignatura.id_asignatura === matricula.id_asignatura) { %> selected <% } %>><%= asignatura.nom_asignatura %></option>
          <% }); %>
        </select>
      </div>
      <!-- Agregar más campos aquí -->
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
