<!DOCTYPE html>
<html>
<head>
  <title>Editar Asignatura</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Editar Asignatura</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/html/asignaturas">Asignaturas</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Fin del Navbar -->

    <h1 class="mt-4">Editar Asignatura</h1>

    <!-- Formulario para editar asignaturas -->
    <form class="mt-4" method="POST" action="/api/v1/asignaturas/asignaturas/<%= asignatura.id_asignatura %>?_method=PUT">
      <div class="form-group">
        <label for="nom_asignatura">Nombre de la Asignatura:</label>
        <input type="text" class="form-control" id="nom_asignatura" name="nom_asignatura" value="<%= asignatura.nom_asignatura %>" required>
      </div>
      <div class="form-group">
        <label for="creditos">Créditos:</label>
        <input type="number" class="form-control" id="creditos" name="creditos" value="<%= asignatura.creditos %>" required>
      </div>
      <div class="form-group">
        <label for="id_programa">Programa:</label>
        <select class="form-control" id="id_programa" name="id_programa">
          <% programas.forEach((programa) => { %>
            <option value="<%= programa.id_programa %>" <% if (programa.id_programa === asignatura.id_programa) { %> selected <% } %>><%= programa.programa %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="id_profesor">Profesor:</label>
        <select class="form-control" id="id_profesor" name="id_profesor" required>
          <% profesores.forEach((profesor) => { %>
            <option value="<%= profesor.id_profesor %>"><%= profesor.nombre_profesor %></option>
          <% }); %>
        </select>
      </div>
      <!-- Agregar más campos aquí -->
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
